lombok.log.fieldName = LOG

lombok.accessors.chain = true
#config.stopBubbling = true #key to tell lombok this is your root directory.
#lombok.fieldDefaults.defaultPrivate = true #f set to true, every field in every class or enum anywhere in the sources being compiled will be marked as private unless it has an explicit access modifier or the @PackagePrivate annotation, or an explicit @FieldDefaults annotation is present to override this config key.
#lombok.fieldDefaults.defaultFinal = true #If set to true, every field in every class or enum anywhere in the sources being compiled will be marked as final unless it has the @NonFinal annotation, or an explicit @FieldDefaults annotation is present to override this config key.