div#headDelim {
    position : absolute;
    left : 184px;
    top : 20px;
    width : 1px;
    height : 85px;
	margin:0;
	padding:0;
    border-left : 1px dotted #264A84;
}

div#menu {
    position : absolute;
    left : 184px;
    top : 115px;
    width : 590px;
    height : 37px;
    color : white;
	margin:0;
	padding:0;
    border-left : 1px dotted #EBFBFE/*#41659f*/;
}

div#submenu {
    position : absolute;
    left : 184px;
    top : 160px;
    width : 590px;
    height : 25px;
    color : white;
	margin:0;
	padding:0;
    border-left : 1px dotted white;
}

div#header table.head {
    width : 100%;
}

div#header img{
    margin:0;
}

div#header table{
    margin:0;
}

div#header td, th{
    padding:0;
}

div#menu table	{
	margin:0;
	padding:0 0 0 0;
	height : 37px;
	border-collapse : collapse;
}

div#menu td{
    color : white;
    font-weight : 800;
    font-family : sans-serif;
    font-size : 12pt !important;
	margin:0;
	padding:0 0 0 0;
    border-right : 1px dotted #EBFBFE/*#41659f*/;
    vertical-align : middle;
    background : url('images/mm_s.jpg') repeat-x;
}

/*div#menu td:hover{*/
    /*border-bottom : 2px solid white*//*#41659f*//*;*/
/*}*/

div#menu td.current{
    background : url('images/mm_h.jpg') repeat-x;
    background-color: #F49B2E;
}

div#menu td.last{
    border-right : none;
}

div#menu a{
    color:white;
    padding:8pt;
    font-size:1em !important;
    border-bottom : none;
    text-decoration:none;
}

div#menu a:visited{
    color:white;
    border-bottom : none;
    text-decoration:none;
}

div#menu a:hover{
    text-decoration:underline;
    border-bottom : none;
}

div#submenu table	{
	margin:0;
	padding:0 0 0 0;
	height : 25px;
	border-collapse : collapse;
}

div#submenu td{
    font-weight : 800;
    font-family : sans-serif;
    font-size : 10pt !important;
	margin:0;
	padding:0 0 0 0;
    border-right : 1px dotted white/*#EBFBFE #41659f*/;
    vertical-align : middle;
    background : url('images/sm_sw3.jpg') repeat-x;
}

div#submenu td.current{
    background : url('images/sm_hw3.jpg') repeat-x;
    background-color: #FAFAFA;
}

div#submenu a{
    color:black;
    padding:6pt 8pt 6pt 8pt;
    border-bottom : none;
    text-decoration:none;
    font-size:1em !important;
}

div#submenu .current a{
    color: #F49B2E;
}

div#submenu a:hover{
    color:white;
    text-decoration:underline;
    border-bottom : none;
}

div#submenu .current a:hover{
    color: #F49B2E;
}
